{% include 'ownerheader.html'%}

 <div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/3.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <article>
<center>
	<h1>Vehicle Permit</h1>
	<form method="post" enctype="multipart/form-data">
		<table class="table" style="width: 500px">
			<tr>
				<th>Permint details</th>
				<td style="color: black"><input type="text"  class="form-control" required="" name="pd"></td>
			</tr>
			<tr>
				<th>Permit Proof</th>
				<td style="color: black"><input type="file"  class="form-control" required="" name="imgg"></td>
			</tr>
			<tr>
				<td  align="center" colspan="2"><input type="submit" class="btn btn-success" name="permit" value="submit"></td>
			</tr>
		</table>
	</form>
</center>
</article>
</div>
</div>
<center>
	<h1 style="color: white"> View Vehicle Permits</h1>
	<table class="table" style="width: 500px;color: black">
		<tr>
			<th>Slno</th>
			<th>Bus</th>
			<th>Permit details</th>
			<th>Permit Proof</th>
		</tr>
		{% for row in data['prem']%}
      <tr>
    <td>{{loop.index}}</td>
      	<td>{{row['bus_number'] }}</td>
      	<td>{{row['permint_details'] }}</td>
      	<td><a href="/{{row['permit_proof'] }}"><img src="/{{row['permit_proof']}}" width="100" height="100"></a></td>
      </tr>
    {% endfor %}
	</table>
</center>
{% include 'footer.html' %}