
{% include 'ownerheader.html'%}
  <div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/3.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <article>
<center>
	<h1>Manage Employees</h1>
	<form method="post"  enctype="multipart/form-data">
		{% if data['employeeup'] %}
		<table class="table" style="width: 500px">
			<tr>
				<th>Employee Name</th>
				<td style="color: black"><input type="text" class="form-control" name="ename"  required="" value="{{data['employeeup'][0]['employee_name']}}"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td style="color: black"><input type="text" class="form-control" name="place"  required="" value="{{data['employeeup'][0]['place']}}"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td style="color: black"><input type="email" class="form-control" name="email"  required="" value="{{data['employeeup'][0]['email']}}"></td>
			</tr>
			<tr>
				<th>Phone No:</th>
				<td style="color: black"><input type="text" class="form-control" name="phone" pattern="[0-9]{10}" required="" value="{{data['employeeup'][0]['phone'] }}"></td>
			</tr>
			
			
			<tr>
				<td  align="center" colspan="2"><input type="submit" class="btn btn-success" name="update" value="submit"></td>
			</tr>
		</table>
	{%  else %}
		<table class="table" style="width: 500px">
			<tr>
				<th>Employee Name</th>
				<td style="color: black"><input type="text"  class="form-control" required="" name="ename"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td style="color: black"><input type="text" class="form-control"  required="" name="place"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td style="color: black"><input type="email"  class="form-control" required="" name="email"></td>
			</tr>
			<tr>
				<th>Phone No:</th>
				<td style="color: black"><input type="text"  class="form-control" required="" pattern="[0-9]{10}" name="phone"></td>
			</tr>
			<tr>
				<th>Id Proof</th>
				<td style="color: black"><input type="file" class="form-control"  required="" name="imgg"></td>
			</tr>
			<tr>
			<th>User Name</th>
			<td style="color: black"><input type="text" class="form-control"  required="" name="uname"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td style="color: black"><input type="password"  class="form-control" required="" name="pwd"></td>
		</tr>
			<tr>
				<td  align="center" colspan="2"><input type="submit" class="btn btn-success" name="employee" value="submit"></td>
			</tr>
		</table>
	{% endif %}
	</form>
</center>
</article>
</div>
</div>
<center>
	<h1 style="color: white">View Employees Details</h1>
	<table class="table" style="width: 500px;color: black">
		<tr>
			<th>Slno</th>
		
			<th>employee Name</th>
      <th>Place</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Id Proof</th>
		</tr>
		{% for row in data['employeeview']%}
    <tr>
    	<td>{{loop.index}}</td>
    	
    	<td>{{row['employee_name'] }}</td>
      <td>{{row['eplace'] }}</td>
      <td>{{row['eemail']}}</td>
      <td>{{row['ephone']}}</td>
     	<td><a href="/{{row['eid_proof'] }}"><img src="/{{row['eid_proof']}}"></a></td>
      <td><a class="btn btn-success" href="?action=update&eid={{row['employee_id'] }}">update</a></td>
      <td><a class="btn btn-success" href="?action=delete&eid={{row['employee_id'] }}">delete</a></td>
    </tr>
     {% endfor %}
	</table>
</center>
{% include 'footer.html' %}